@use "sass:math";

@import './mixins.scss';
@import './variables.scss';



@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
  }

._init .menu-footer__title::before,
  [class^=_icon-]:before,
  [class*=" _icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
[class^=_icon-]:before,
[class*=" _icon-"]:before {
	display: block;
}

._icon-home:before {
	content: "\e900";
}
._icon-phone:before {
	content: "\e942";
}
._icon-location:before {
	content: "\e947";
}
._icon-bubble:before {
	content: "\e96b";
}
._icon-equalizer:before {
	content: "\e992";
}
._icon-cog:before {
	content: "\e994";
}
._icon-eye:before {
	content: "\e9ce";
}
._icon-eye-blocked:before {
	content: "\e9d1";
}
._icon-star-empty:before {
	content: "\e9d7";
}
._icon-star-half:before {
	content: "\e9d8";
}
._icon-star-full:before {
	content: "\e9d9";
}
._icon-plus:before {
	content: "\ea0a";
}
._icon-minus:before {
	content: "\ea0b";
}
._icon-cross:before {
	content: "\ea0f";
}
._icon-checkmark:before {
	content: "\ea10";
}
._icon-instagram:before {
	content: "\ea92";
}
._icon-telegram:before {
	content: "\ea95";
}
._icon-vk:before {
	content: "\ea98";
}
._icon-github:before {
	content: "\eab0";
}


* {
padding: 0px;
margin: 0px;
border: 0px;
}

*,
*:before,
*:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
display: block;
}

html {
font-size: 16px;
}

html,
body {
height: 100%;
min-width: 320px;
}

body {
line-height: 1;
font-family: "Gilroy";
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
font-family: "Gilroy";
font-size: inherit;
}

input::-ms-clear {
display: none;
}

button {
cursor: pointer;
background-color: inherit;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}

a,
a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

ul li {
list-style: none;
}

img {
vertical-align: top;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-weight: inherit;
//     font-size: inherit;
// }

body {
    color: $textClr;
}

body._lock {
    overflow: hidden;
}
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

.page{
    &._purple{
        background-color: #7A7BDF;
    }
}

.section {
    padding: 40px 0;
    border-bottom: 1px solid $bordersClr;
}

.img-responsive{
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;

}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: 970px;
		}
		@media (max-width: $tablet) {
			max-width: 750px;
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}