version: '3.7'

services:
  web:
    build: ./images/python
    container_name: ads_processor_server
    restart: always
    volumes:
      - ./..:/usr/src/app
      - ./../storage/static:/usr/src/app/storage/static
    ports:
      - "8000:8000"
    env_file:
      - ./.env.dev
    depends_on:
      - db


  db:
    image: postgres:12
    container_name: ads_processor_postgresql
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.env.dev
    ports:
      - "5432:5432"

  redis:
    restart: always
    image: redis:7.0
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data


  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"


  nginx:
    build: ./images/nginx
    container_name: ads_processor_nginx
    restart: on-failure
    ports:
      - "80:80"
    volumes:
      - ./../storage/static:/static
    depends_on:
      - web


volumes:
  postgres_data:
  redisdata:
